body {
    background-image: url('../img/bg.png');
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 3000px;
    margin: 0 auto;
}

h1 {
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Styling untuk tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
}

th, td {
    padding: 14px 20px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 16px;
}

th {
    background-color: blue;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.btn {
    padding: 8px 20px;
    margin: 5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    transition: all 0.3s ease;
}

/* Tombol Edit */
.btn-edit {
    background-color: #28a745; /* Hijau untuk Edit */
}

.btn-edit:hover {
    background-color: #218838;
    transform: scale(1.1);
}

/* Tombol Hapus */
.btn-delete {
    background-color: #dc3545; /* Merah untuk Hapus */
}

.btn-delete:hover {
    background-color: #c82333;
    transform: scale(1.1);
}

.btn i {
    margin-right: 8px; /* Jarak antara ikon dan teks */
}

.navbar {
    text-align: center;
    margin-top: 20px;
}

.navbar a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #2A6BF8;
    color: white;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #ddd;
}